<launch>
  <arg name="robot_name"   default="/"/>
  <arg name="frame_prefix" default=""/>

  <!-- <arg if="$(eval arg('robot_name') == '/')"  name="frame_prefix" value="" />
  <arg unless="$(eval arg('robot_name') == '/')" name="frame_prefix" value="$(arg robot_name)/" /> -->

  <rosparam command="load" file="$(find robot_localization)/params/gps_params.yaml" />
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" clear_params="true"/>
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_map" clear_params="true">
    <remap from="odometry/filtered" to="odometry/filtered_map"/>
  </node>

  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform" clear_params="true">
      <remap from="odometry/filtered" to="$(arg frame_prefix)odom"/>
  </node>

</launch>
